<section class="about">
  <div class="container">
    <h1 class="title">About Us</h1>
    <h4 class="subtitle">Emmet Abbreviation</h4>

    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Obcaecati reiciendis dolores maxime molestias quidem iste alias culpa!
      Saepe blanditiis veritatis porro non, exercitationem eveniet ipsum quia
      labore? Placeat, sed. Eligendi.
    </p>
  </div>
</section>
