<section class="about">
  <div class="container">
    <h1 class="title">Blogs</h1>
    <h4 class="subtitle">Emmet Abbreviation</h4>
    <div class="blog-image">

      <img src="https://picsum.photos/790/444" alt="hero image" class="hero-image" width="790" height="444">

    </div>

    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Obcaecati reiciendis dolores maxime molestias quidem iste alias culpa!
      Saepe blanditiis veritatis porro non, exercitationem eveniet ipsum quia
      labore? Placeat, sed. Eligendi.
    </p>
  </div>
</section>
