<div class="author">
  <h1 class="author_heading">Hi, I'm John Doe</h1>
  <p class="author_body">A blog website for sharing your thoughts and ideas.</p>
</div>

    <img src="https://picsum.photos/790/444" alt="hero image" class="hero-image" width="790" height="444">


<section class="articles">
  <h2 class="heading">Latest Posts</h2>
   
<ul class="article-ul">
  <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post.id%>">
        <span><%= post.title %></span>
        <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
      </a>
    </li>
  <% }) %>
</ul>


 <% if(nextPage !== null ){ %>
 <a href="/?page=<%= nextPage %>" class="pagination" >View All Posts &rarr;</a>
 <% } %>
</section>
